<h1>Enter the symbol for the company you would like stock information on.</h1>

<form action="/stock_form_do">
  <input type='text' placeholder='Ex. aapl = Apple' name="stock[symbol]">
  <input type='submit'>
</form>
<br>


