/* Box model fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.errors {
  color: red;
}
#barnav {
  display: none;
}

body {
  margin: 0px;
  background-color: #CFD8D5;
  cursor: grab;
}

body h1 {
  text-align: center;
  padding: 10px;
  color: #5A5967;
}

body h3 {
  text-indent: 10px;
  color: #5A5967;
}

body table {
  text-indent: 10px;
}

body p {
  text-indent: 10px;
  line-height: 5px;
  color: #5A5967;
}

body a {
  padding: 10px;
}

form {
  padding: 10px;
}

body ul {
  padding: 0px;
  background-color: #A7A599;
  list-style-type: none;
  margin-top: 0px;
}

body li {
  border-color: #5A5967;
  border-style: solid;
  border-width: thin;
  text-align: center;
  padding: 5px;
}

body li a:hover {
  background-color: #817F76;
}

body a {
  cursor: pointer;
  display: block;
  color: #35324F;
}

body a:hover {
  background-color: #817F76;
}

#hamburger_menu {
  background-color: #A7A599;
}

#hamburger_menu img {
  float: right;
  width: 40px;
}

#hamburger_list {
  position: absolute;
  right: 40px;
  width: 100px;
  margin-top: 0px;
}

.hide {
  display: none;
}

@media (min-width: 500px) {
  .menu {
    float: left;
    width: 25%;
    margin-right: 10px;
  }
  
  #hamburger_menu {
    display: none;
  }
  
  #barnav {
    display: inline;
  }
  
  header li {
    width: 20%;
    float: left;
    background-color: #A7A599;
  }
}