/* Box model fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: #A1FAF8;
}

body h1 {
  text-align: center;
  padding: 10px;
  color: #566FEE;
}

body h3 {
  text-indent: 10px;
  color: #566FEE;
}

body table {
  text-indent: 10px;
}

body p {
  text-indent: 10px;
  line-height: 5px;
}

body a {
  padding: 10px;
}

ul {
  padding: 0px;
  background-color: #69B5FF;
  list-style-type: none;
}

li {
  border-color: #3B48CB;
  border-style: solid;
  border-width: thin;
  text-align: center;
  padding: 10px;
}

a {
  cursor: pointer;
  color: #3B48CB;
}