/* Box model fix */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  background-color: #CFD8D5;
}

body h1 {
  text-align: center;
  padding: 10px;
  color: #5A5967;
}

body h3 {
  text-indent: 10px;
  color: #5A5967;
}

body table {
  text-indent: 10px;
}

body p {
  text-indent: 10px;
  line-height: 5px;
  color: #5A5967;
}

body a {
  padding: 10px;
}

form {
  padding: 10px;
}

ul {
  padding: 0px;
  background-color: #A7A599;
  list-style-type: none;
}

li {
  border-color: #5A5967;
  border-style: solid;
  border-width: thin;
  text-align: center;
  padding: 5px;
}

li a:hover {
  background-color: #817F76;
}

a {
  cursor: pointer;
  display: block;
  color: #35324F;
}

a:hover {
  background-color: #817F76;
}