<h1>Here's a list of all accounts. Click on an account to see it's full details.</h1>

<ul>
  <% Account.all.each do |account| %>
    <li><a href="/single_account/<%=account.id%>"><%= account.id %> - <%= account.type %></a></li>
  <% end %>
</ul>

<a href="/accounts_menu">Accounts Menu?</a></b>
<a href="/home">Main Menu?</a>