<h3>Account ID #</h3>
<p><%= @account.id %></p>
<h3>Account Type</h3>
<p><%= @account.type %></p>
<h3>Account users</h3>
<p><%= @account.users %></p>
<h3>Account Balance</h3>
<p><%= @account.balance %></p>

<a href="/accounts_menu">Users Menu?</a></b>
<a href="/home">Main Menu?</a>