<h1>Account Deleted.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_account">Create an account.</a></li>
    <li><a href="/all_accounts">See a list of accounts and information on them.</a></li>
    <li><a href="/update_account_form">Update an account</a></li>
    <li><a href="/delete_account_list">Delete an account</a></li>
  </ul>
</div>

<div style="clear: both"></div>