<h1>Please select an account to delete.  It can only be deleted if there is no balance.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_account">Create an account.</a></li>
    <li><a href="/all_accounts">See your accounts and information on them.</a></li>
    <li><a href="/update_account_form">Update an account</a></li>
    <li><a href="/delete_account_list">Delete an account</a></li>
  </ul>
</div>

<div class="content">
  <h3 id="errors"><%=@errors%></h3>
  <form action="/delete_account">
    <select name ="account[id]">
      <% @user.accounts.each do |account| %> 
        <option value="<%= account.id %>"><%= account.id %>-<%=account.name%></option>
      <% end %>
    </select>
    <input type='submit'>
  </form>
</div>


<div style="clear: both"></div>
