<h3 class="error"><%= @message %></h3>

<h1>Please select an account to delete.  It can only be deleted if there is no balance.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_account">Create an account.</a></li>
    <li><a href="/all_accounts">See a list of accounts and information on them.</a></li>
    <li><a href="/update_account_form">Update an account</a></li>
    <li><a href="/delete_account_list">Delete an account</a></li>
  </ul>
</div>

<form action="/delete_account">
  <select name ="account[id]">
    <% Account.all.each do |account| %> 
      <option value="<%= account.id %>"><%= account.id %></option>
    <% end %>
  </select>
  <input type='submit'>
</form>


<div style="clear: both"></div>
