<h1>Enter the information for the account to be added.</h1>

<form action="/new_account_form_do">
  <select name ="type">
    <option value="Checking">Checking</option>
    <option value="Savings">Savings</option>
  </select>
  
  ???Users???
</form>

<a href="/accounts_menu">Accounts Menu?</a></b>
<a href="/home">Main Menu?</a>