<header>
  <h1>Welcome to the Finance Manager.  Click on the area you wish to work in.</h1>
  <div class="menu">
    <nav>
      <ul>
        <li><a href="/users_menu">Users</a></li>
        <li><a href="/accounts_menu">Accounts</a></li>
        <li><a href="/categories_menu">Categories</a></li>
        <li><a href="/transactions_menu">Transactions</a></li>
        <li><a href="/stock">Today's Stocks</a></li>
      </ul>
    </nav>
  </div>
  <div style="clear: both"></div>
</header>