<h1>Welcome to Finance Manager</h1>

<h3>Please enter your email and password.</h3>

<p><%= @errors%></p>
<form action="/user">
  <input type="text" placeholder="Email" name="user_name" value="<%= params["email"]%>">
  <input type="text" placeholder="Password" name="password" value="<%= params["password"] %>">
  <input type="submit">
</form>

<p><a href="/new_user">New User?</a></p>