<h1>Welcome to Finance Manager</h1>

<h3>Please enter your email and password.</h3>

<h3 id="errors"><%= @errors%></h3>
<form action="/user">
  <input type="text" placeholder="Email" name="email" value="<%= params["email"]%>">
  <input type="text" placeholder="Password" name="password" value="<%= params["password"] %>">
  <input type="submit">
</form>

<p><a href="/new_user_login">New User?</a></p>