<h1>Please type in your desired email and password.</h1>
<h3 id="errors"><%= @errors%></h3>
<form action="/new_user_form_do">
  <input type="text" placeholder="New Email" name="email" value="<%= params["email"] %>">
  <input type="text" placeholder="New Password" name="password" value="<%= params["password"] %>">
  <input type="submit">
</form>