<h1>Here's a list of all categories.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_category">Create a category</a></li>
    <li><a href="/all_categories">See a list of categories.</a></li>
    <li><a href="/delete_category_list">Delete a category</a></li>
  </ul>
</div>


<ul>
  <% Category.all.each do |category| %>
    <li><%= category.id %> - <%= category.name %></a></li>
  <% end %>
</ul>

<div style="clear: both"></div>

