<h1>What would you like to do in categories?</h1>

<ul>
  <li><a href="/new_category">Create a category</a></li>
  <li><a href="/all_categories">See a list of categories.</a></li>
  <li><a href="/delete_category_list">Delete a user</a></li>
</ul>

<a href="/home">Main Menu?</a>