<h3><%= @message %></h3>

<h1>Please select a category to delete.  It can only be deleted if there are no transactions associated with it.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_category">Create a category</a></li>
    <li><a href="/all_categories">See a list of categories.</a></li>
    <li><a href="/delete_category_list">Delete a category</a></li>
  </ul>
</div>

<form action="/delete_category">
  <select name ="category[id]">
    <% Category.all.each do |category| %> 
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <input type='submit'>
</form>


<div style="clear: both"></div>
