<h3><%= @message %></h3>

<h1>Please select a category to delete.  It can only be deleted if there are no transactions associated with it.</h1>
<form action="/delete_category">
  <select name ="category[id]">
    <% Category.all.each do |category| %> 
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <input type='submit'>
</form>
<br>
<a href="/categories_menu">Categories Menu?</a></b>
<a href="/home">Main Menu?</a>