<h3 class="errors"><%= @errors %></h3>

<h1>Enter a name for the new category</h1>

<div class="menu">
  <ul>
    <li><a href="/new_category">Create a category</a></li>
    <li><a href="/all_categories">See a list of categories.</a></li>
    <li><a href="/delete_category_list">Delete a category</a></li>
  </ul>
</div>

<div class="content">
  <form action="/new_category_form_do">
    <input type='text' placeholder='New Category Name' name="category[name]" 
    <% if params["category"]%>
    value="<%=params["category"]["name"]%>"
    <% end %>>
    <input type='submit'>
  </form>
</div>

<div style="clear: both"></div>

