<p><%= @errors %></p1>

<h1>Enter a name for the new category</h1>

<form action="/new_category_form_do">
  <input type='text' placeholder='New Category Name' name='name' value="<%=params["name"] %>">
  <input='submit'>
</form>

<a href="/categories_menu">Categories Menu?</a></b>
<a href="/home">Main Menu?</a>