<h1>User Deleted.</h1>


<div class="menu">
  <ul>
    <li><a href="/new_user">Create a user</a></li>
    <li><a href="/all_users">See a list of users and information on them.</a></li>
    <li><a href="/update_user_form">Update a user's name</a></li>
    <li><a href="/delete_user_list">Delete a user</a></li>
  </ul>
</div>
