<p><%= @message %></p>

<h1>Please select a user to delete.  They can only be deleted if there are not accounts associated with them.</h1>
<form action="/delete_user">
  <select name ="id">
    <% User.all.each do |user| %> 
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>
</form>

<a href="/users_menu">Users Menu?</a></b>
<a href="/home">Main Menu?</a>