<div class="menu">
  <ul>
    <li><a href="/update_email_form">Update your email</a></li>
    <li><a href="/update_user_form">Update your information</a></li>
    <li><a href="/delete_user_list">Remove yourself as a user</a></li>
  </ul>
</div>

<div class="content">
  <form action="/update_password_form_do">
    <p>Your new password</p>
    <input type="text" placeholder="Change password" name="user[password]">
    <input type='submit'>
  </form>
</div>

<div style="clear: both"></div>

