<h1>Your Information</h1>
<div class="menu">
  <ul>
    <li><a href="/update_email_form">Update your email</a></li>
    <li><a href="/change_password_form">Change your password</a></li>
    <li><a href="/delete_user">Remove yourself as a user</a></li>
  </ul>
</div>
<h3 id="errors"><%= @errors %></h3>
<h3>Email</h3>
<h4><%=@user.email%></h4>
<h3>Balance in all accounts</h3>
<h4>$<%=@user.total_balance%></h4>
<div style="clear: both"></div>
