<h1>Here's a list of all users. Click on a user to see their full details.</h1>

<ul>
  <% User.all.each do |user| %>
    <li><a href="/single_user/<%=user.id%>"><%= user.id %> - <%= user.name %></a></li>
  <% end %>
</ul>

<a href="/users_menu">Users Menu?</a></b>
<a href="/home">Main Menu?</a>