<h1>Your Information</h1>
<div class="menu">
  <ul>
    <li><a href="/update_email_form">Update your email</a></li>
    <li><a href="/change_password_form">Change your password</a></li>
    <li><a href="/delete_user">Remove yourself as a user</a></li>
  </ul>
</div>
<p><%= @errors %></p>
<p><%=@user.email%></p>
<p><%=@user.total_balance%></p>
<div style="clear: both"></div>
