<h3>User ID #</h3>
<p><%= @user.id %></p>
<h3>User Name</h3>
<p><%= @user.name %></p>
<h3>User Accounts</h3>
<p><%= @user.accounts %></p>
<h3>User Total Balance</h3>
<p><%= @user.total_balance %></p>

<a href="/users_menu">Users Menu?</a></b>
<a href="/home">Main Menu?</a>