<h1>Please select a transaction to delete.</h1>
<div class="menu">
  <ul>
    <li><a href="/new_transaction">Add a transaction</a></li>
    <li><a href="/all_transactions">See a list of all transactions and information on them.</a></li>
    <li><a href="/where">See a list of transactions for a specific account</a></li>
    <li><a href="/update_transaction_form">Update a transaction's information</a></li>
    <li><a href="/delete_transaction_list">Delete a transaction</a></li>
  </ul>
</div>

<div class="content">
  <form action="/delete_transaction">
    <select name ="transaction[id]">
      <% @user.accounts.each do |account| %>
        <% account.transactions.each do |transaction| %>
          <option value="<%= transaction.id %>"><%= transaction.amount %> - <%= transaction.date%> - 
            <%= transaction.description %></option>
        <% end %>
      <% end %>
    </select>
    <input type='submit'>
  </form>
</div

<div style="clear: both"></div>