<h1>Enter the information for the transaction.</h1>

<form action="/new_transaction_form_do">
  <p>Enter the amount as either a credit or debit.</p>
  <input type='text' placeholder='Ex. 12.12 for credits, -12.12 for debits' name='amount'>
  <p>Enter a description for the transaction</p>
  <input type='text' placeholder='Description' name='description'>
  <p>Enter the date of the transaction.</p>
  <input type='text' placedholder='Ex. 06-01-2015' name='date'>
  <p>Enter the category for the transaction</p>
  <select name ="category_id">
    <% Category.all.each do |category| %> 
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <p>Enter the account for the transaction</p>
  <select name ="account_id">
    <% Account.all.each do |account| %> 
      <option value="<%= account.id %>"><%= account.id %></option>
    <% end %>
  </select>
  <input type='submit'>
</form>

<a href="/transactions_menu">Transactions Menu?</a></b>
<a href="/home">Main Menu?</a>