<h1>Here's a list of all transactions. Click on a user to see their full details.</h1>

<div class="menu">
  <ul>
    <li><a href="/new_transaction">Create a transaction</a></li>
    <li><a href="/all_transactions">See a list of all transactions and information on them.</a></li>
    <li><a href="/where">See a list of transactions for a specific account</a></li>
    <li><a href="/update_transaction_form">Update a transaction's information</a></li>
    <li><a href="/delete_transaction_list">Delete a transaction</a></li>
  </ul>
</div>

<div class="content">
  <ul>
    <% @user.accounts.each do |account| %>
      <% account.transactions.each do |transaction|%>
        <li><a href="/single_transaction/<%=transaction.id%>"><%= transaction.id %> - <%= transaction.amount %> - 
        <%= transaction.date %></a></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div style="clear: both"></div>